{% extends "base.html" %}
{% load static %}
{% block extra_headers %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
{% endblock extra_headers %}

{% block content %}

<div class="wrapper">
<form method="post" action="">
    {% csrf_token %}
    <h1>Login</h1>
    <div class="input-box">
    {{ form.username }}
    <i class='bx bxs-user'></i>
    </div>
    <div class="input-box">
    {{ form.password }}
    <i class='bx bxs-lock-alt' ></i>
    </div>
    <div class="remember-forgot">
    <label><input type="checkbox">Remember Me</label>
    <a href="#">Forgot Password</a>
    </div>
    <button type="submit" class="btn">Login</button>
    <div class="register-link">
    <p>Dont have an account? <a href="{% url "accounts:user_register" %}">Register</a></p>
    </div>
</form>
</div>

{% endblock content %}